.aboutImg{
    height: 33.3rem;
    width: 84.3rem;
}

.aboutMain{
    margin-top: 1.4rem;
}

.aboutp{
    width: 80.3rem ;
    margin-left: 3rem;
}

.abouth2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: xxx-large;
    margin-left: 35rem;

}